@using Attendance.Models
@model Attendance.Models.User
@{
    ViewBag.Title = "Home Page";
}

<div class="account-page">
    @{
        if (@Model.userType != null)
        {
            ViewBag.data = @Model.userType;
            <center class="alert alert-info">@Model.userType<a class='close' data-dismiss='alert'>&times;</a></center>
        }
    }
   
    <div class="container">
        <h3 class="account-title">AMS Login</h3>
        <div class="account-box">
            <div class="account-wrapper">
                <div class="account-logo">
                    <a href="#"><img src="../../Content/assets/img/logo2.png" alt="Focus Technologies"></a>
                </div>
                @using (Html.BeginForm("Login", "User"))
                {
                    <div class="form-group form-focus">
                        @Html.LabelFor(m => m.username, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.username, new { @class = "form-control floating", required = "required" })
                        
                    </div>
                    <div class="form-group form-focus">
                        @Html.LabelFor(m => m.password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.password, new { @class = "form-control floating", required = "required" })
                       
                    </div>
                    @*@Html.HiddenFor(m => m.id)*@

                    <div class="form-group text-center">
                        <button class="btn btn-primary btn-block account-btn" type="submit">Login</button>
                    </div>

                    <div class="text-center">
                        @Html.ActionLink("Login As Instructor", "InstructorLogin", "Home")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
