@model Attendance.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Student";
}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "BS(CS)",
        Value = "BS(CS)"
    });
    listItems.Add(new SelectListItem
    {
        Text = "BS(SE)",
        Value = "BS(SE)",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "BS(IT)",
        Value = "BS(IT)"
    });

   

}

@Html.Partial("_NavBar")

<div class="container">

    <div class="row">
        @using (Html.BeginForm("EditStudentFunc", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.students.name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.students.name, new { @class = "form-control"})
                
            </div>


            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.students.rollno, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.students.rollno, Model.students.rollno, new { @class = "form-control", @readonly = "readonly" })
               
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.students.section, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.students.section, listItems, "Select Section", new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.students.img_path, new { @class = "control-label" })
                <input name="image" type="file" class="form-control">

            </div>

            @Html.HiddenFor(m => m.students.id)

            <div class="m-t-20 text-center">
                <button class="btn btn-primary" type="submit">Edit Student</button>
            </div>
        }
    </div>


</div>
